ul,ol{list-style:none}
*{margin: 0;padding: 0;}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#xxx{
  background: white;
  display: block;
}

body{
  margin: 0px;
  overflow: hidden;
}

.actions{
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  
}
.actions svg{
  width: 1.5em;
  height: 1.5em;
  transition: all 0.3s;  
  margin: 0 10px;
}

.actions svg.active{
  fill: BlueViolet;
  transform: scale(1.3);
}
.colors{
  position: fixed;
  top: 5px;
  right: 64px;
}
.colors> li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 0px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  transition: all 0.3s;
}
.colors> li.active{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.95);
  transform: scale(1.2);
}
.colors> li.black{
  background: black;
}
.colors> li.red{
  background: red;
}
.colors> li.green{
  background: green;
}
.colors> li.blue{
  background: blue;
}

.sizes {
  position: fixed;
  right: 10px;
  top: 0px;
}
.sizes > li{
  transition: all 0.3s;
}
.sizes> li >svg{
  width: 1.5em;
  height: 1.5em;
  margin: 15px 10px;
  transition: all 0.3s;
}
.sizes> li >svg.active{
  fill: BlueViolet;
  transform: scale(1.3);
}
